a {
    color: #EC6E61;
}

a.new {
    color: #EC6E61;
}

a:hover, a:focus {
    color: #337ab7;
    text-decoration: underline;
    transition: 0.3s;
}

a.new:hover, a.new:focus {
    color: #b73333;
    text-decoration: underline;
    transition: 0.3s;
}

a.external {
    color: #EC6E61;
}

a.external:hover, a.external:focus {
    color: #55BD86;
    text-decoration: underline;
    transition: 0.3s;
}

.plainlinks a.external {
    color: #EC6E61;
}

.plainlinks a.external:hover, .plainlinks a.external:focus {
    color: #55BD86;
    text-decoration: underline;
    transition: 0.3s;
}

.navbar-nav {
    flex-direction: row;
}

.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}
